@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --color-primary-blue: #0077b6;
  --color-secondary-blue: #03045e;
  --color-ocean-blue: #00b4d8;
  --color-white-blue: #90e0ef;
  --color-more-white-blue: #caf0f8;
  --color-white: #f8f7ff;
  --color-black: #00171f;
}

nav {
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 100%;
  color: var(--color-white);
  position: fixed;
}
.library-name {
  font-size: 1.5rem;
}
.add-a-book-btn {
  background-color: var(--color-ocean-blue);
  padding: 1rem;
  border: none;
  color: var(--color-white);
  border-radius: 10px;
  font-weight: 600;
}

/* Book Style */
main {
  background-color: var(--color-more-white-blue);
  max-height: calc(100% - (56px + 86px));
  min-height: calc(100vh -(56px));
}
.container {
  padding: 100px 1rem 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4,minmax(300px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  justify-content: space-around;
}
/* @media only screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
  } 
}
*/

.book {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-title {
  font-size: 1.5rem;
  padding: 0.1rem;
}
.book-details {
  display: grid;
  grid-template-columns: 1fr;
}
.detail {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
  flex-wrap: wrap;
}

/* Book Form Style */
.form {
  background-color: var(--color-white-blue);
  color: var(--color-white);
  width: 500px;
  margin: auto;
  border-radius: 20px;
  padding: 1rem;
  display: none;
  position: absolute;
  top: 200px;
  left: 750px;
  z-index: 1;
}

form > h2 {
  text-align: center;
  padding: 0 0 1rem;
  font-size: 2rem;
}
.form > div > label {
  display: block;
  padding: 0.5rem 0;
  font-weight: 600;
  color: var(--color-white);
  font-size: 1rem;
}

.form > div > input,
.form > div > select {
  width: 100%;
  padding: 0.5rem;
}

.submit-button {
  padding: 0.5rem;
  width: 50%;
  text-align: center;
  background-color: var(--color-ocean-blue);
  color: var(--color-white);
  border: none;
  display: block;
  margin: 1rem auto;
  font-weight: 600;
  font-size: 1rem;
}

/* Remove Book Button */
.remove-book {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-weight: 600;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

/* Status Color style */
.what-status{
  border-radius: 5px;
  padding: 0.2rem;
  font-weight: 500;
}
.what-status:hover{
  cursor: pointer;
}

/* footer */
.foo{
  display: flex;
  padding: 1rem;
  background-color: var(--color-primary-blue);
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--color-white);
}
.foo > .uil{
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}
